<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.azaqo.sahabatbunda">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Signup"
            android:label="@string/title_activity_signup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainMenu.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainMenu.IbuHamil.MenuIbuHamilActivity" />
        <activity
            android:name=".MainMenu.IbuHamil.DataPemeriksaan.DataPemeriksaan.DataPemeriksaan"
            android:label="@string/title_activity_data_pemeriksaan"
            android:parentActivityName=".MainMenu.IbuHamil.DataPemeriksaan.DaftarKehamilan"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.azaqo.sahabatbunda.MainMenu.IbuHamil.DataPemeriksaan.DaftarKehamilan" />
        </activity>
        <activity
            android:name=".MainMenu.IbuHamil.DataPemeriksaan.DaftarKehamilan"
            android:label="Daftar Kehamilan"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MainMenu.IbuHamil.DataPemeriksaan.DataPemeriksaan.Resume"
            android:label="Hasil Pemeriksaan"
            android:theme="@style/AppTheme" />
        <activity android:name=".MainMenu.Keluhan.KeluhanActivity"></activity>
    </application>

</manifest>